body {
	min-height: 100vh;
}

#navbar {
	background-color: #f9f871;
}

#navbar .nav-link {
	color: #414000;
}

#navbar .nav-link:hover {
	color: #9b9900;
}

aside {
	background-color: #f9f87180;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
input:not(.textfield-seamless),
.btn {
	font-family: "JetBrains Mono", monospace;
}

.card {
	border: none;
	box-shadow: 0px 6px 12px 3px #00000030;
}

.textfield-seamless {
	color: inherit;

	padding: 0;
	border: none;
	border-radius: 10px;

	font-weight: inherit;

	display: inline-block;

	field-sizing: content;
	resize: none;
	overflow: hidden;
}

.textfield-seamless:hover {
	background-color: #f9f87180;
}

.textfield-seamless:focus-visible {
	background-color: #f9f871;
	color: #414000;
	outline: none;
}

.textfield-seamless::placeholder {
	color: inherit;

	opacity: 0.5;
}

#item-image {
	border-radius: 50px;

	box-shadow: 0px 8px 16px 4px #00000040;
}

#messages-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1.5rem;
}

#messages-container div {
	max-width: 25rem;
	padding: 1.5rem;
}

#messages-container p {
	margin-bottom: 1.1rem;

	line-height: 1.1rem;
}

#views {
	line-height: 1rem;
}

#views li {
	margin-bottom: 1rem;
}

#views a {
	text-decoration: none;
}

.no-bullets {
	padding: 0;

	list-style-type: none;
}
