body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: inline-block;
}

.slogan{
    display: inline-block;
    width: 100%;
    line-height: 1.4;
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
    background-color: #B9FFCC;

}

.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 50px;
}


article {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 60px;
}
article:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
}

figure img {
    width: 90%; 
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5px;
}

figcaption {
    font-weight: bold;
    margin-top: 10px;
}

header {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    background-color: #B9FFCC; 
    color: rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box; 
}
header img {
    width: 30%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4a261;
}

.footer {
    width: 100%;
    background: #B9FFCC;
    background: -moz-linear-gradient(-45deg, #B9FFCC 0%, #C4FEF2 64%, #C6FFAF 100%);
    background: -webkit-linear-gradient(-45deg, #B9FFCC 0%, #C4FEF2 64%, #C6FFAF 100%);
    background: linear-gradient(135deg, #B9FFCC 0%, #C4FEF2 64%, #C6FFAF 100%);
    border-radius: 6px;
   
  }
  .footer .footer-row {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 10px;
  }
  .footer-row .footer-col h4 {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 200;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #000000;
  }
  .footer-col .links li a:hover {
    color: #000000;
  }
  .footer-col p {
    margin: 20px 0;
    color: #000000;
    max-width: 250px;
  }
  .footer-col form {
    display: flex;
    gap: 10px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
  .footer img {
    width: 25px; 
    height: 25px;
    vertical-align: middle;
  }